<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2015 K Team. All Rights Reserved. -->
<tests>

  <test definition="simple-untyped"
        skip="pdf"
        programs="."
        extension="simple"
        exclude="dekker threads_05 threads_07 threads_10 threads_11"
        results="." >
        <kompile-option name="--transition" value"read assignment increment lookup"
        <all-programs>
          <krun-option name="--output" value="none" />
        </all-programs>
        <program name="threads_05.simple">
          <krun-option name="--search" />
          <krun-option name="--bound" value="5" />
        </program>
  </test>

</tests>
